# Core Data Science (Hard Locked)
numpy>=2.0.0
pandas>=2.0.0
scipy>=1.10.0
ipykernel
matplotlib
seaborn
plotly
dtreeviz
mlxtend

# Machine Learning (Hard Locked to prevent loops)
scikit-learn>=1.3.0
xgboost>=2.0.0
statsmodels>=0.14.0
optuna
shap>=0.45.0
imblearn
category_encoders>=2.6.0
ydata-profiling>=4.0.0

nltk

# Web & Utilities
flask
flask-wtf
wtforms
requests
beautifulsoup4
selenium
boto3
python-dotenv
mysql-connector-python
ipywidgets


boto3
dotenv
