{% extends "2_base.html" %}

{% block main %}
<div class="registration-form">
    <h1>Create Your Account</h1>
    <p>Please fill in this form to register with us.</p>

    <form action="" method="POST" novalidate>
        <!-- CSRF Token (Required for Flask-WTF) -->
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.name.label }}<br>
            {{ form.name(class="details", placeholder="Enter your full name") }}
            {% for error in form.name.errors %}                     <!--controls what will be shown on the screen if there is an errror-->
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <br>

        <div class="form-group">
            {{ form.email.label }}<br>
            {{ form.email(class="details", placeholder="Enter your email") }}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <br>

        <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password(class="details", placeholder="Minimum 8 characters") }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <br>

        <div class="form-group">
            {{ form.submit(class="details login") }}
        </div>
    </form>
</div>
{% endblock %}
