<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <title>{% block title %}Profile system{% endblock %}</title>
</head>
<body>
    <h1>This is header</h1>         <!--This will show at every html page that we create which are linked to "base.html"-->

    <div class="main-container">
        {% block main %}
            <!-- This is an example of template inheritance -->
            <!-- KEEP THIS PART EMPTY -->
        {% endblock %}
    </div>

</body>
</html>