{% extends "base.html" %}           <!--links the current html to the base html-->

{% block title %}Login - Profile system{% endblock %}

{% block main %}
<div class="login-page">
    <h1>ENTER YOUR DETAILS</h1>

    <form action="/submit" method="POST" class="form">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Name" class="details username">
        
        <label>E-Mail</label>
        <input type="email" name="email" placeholder="Enter email" class="details email">
        
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password" class="details password">
        
        <input type="submit" value="LOGIN" class="details login">
    </form>
</div>
{% endblock %}