<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>profile</title>
</head>
<body>
    <h1>Hello {{name}}</h1>

    <!-- putting to conditions -->
    {% if topper == "yes" %}
        <b><big><p>You are a topper</p></big></b>
    {% else %}
        <p>You need to work</p>
    {% endif %}

    <!-- making list of subjects -->
    <ol>
        <!-- making a for loop of subjects -->
        {% for i in subjects %}
            <li>{{ i }}</li>
        {% endfor %}               <!--ending for loop, ENDING THE FOR LOOP IS MANDATORY-->
    </ol>

</body>
</html>